@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --ink: #1e1e1e;
  --paper: #f0f0f0;
}

.dark {
  --ink: #f0f0f0;
  --paper: #1e1e1e;
}

@theme inline {
  --color-background: var(--paper);
  --color-foreground: var(--ink);
  --font-sans: var(--font-poppins);

  --color-ink: var(--ink);
  --color-paper: var(--paper);
  --color-brand-blue: #4285f4;
  --color-brand-blue-2: #4882fb;
  --color-brand-red: #ef4b4b;
  --color-brand-red-2: #e94436;
  --color-brand-yellow: #fbbc04;
  --color-brand-yellow-2: #f8aa00;
  --color-brand-green: #34a853;
  --color-brand-green-2: #34a851;
  --color-brand-purple: #a06cd1;
  --color-brand-pink: #ff7daf;
  --color-brand-orange: #f46932;
}
