@import "tailwindcss";

:root {
  --background: #f0f0f0;
  --foreground: #1e1e1e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);

  --color-ink: #1e1e1e;
  --color-paper: #f0f0f0;
  --color-brand-blue: #4285f4;
  --color-brand-blue-2: #4882fb;
  --color-brand-red: #ef4b4b;
  --color-brand-red-2: #e94436;
  --color-brand-yellow: #fbbc04;
  --color-brand-yellow-2: #f8aa00;
  --color-brand-green: #34a853;
  --color-brand-green-2: #34a851;
  --color-brand-purple: #a06cd1;
  --color-brand-pink: #ff7daf;
  --color-brand-orange: #f46932;
}

body {
  background: var(--background);
  color: var(--foreground);
}
